/* Global styles for the body */

/* Hero Section */
.gradient-text {
    /* Define the linear gradient background */
    background: linear-gradient(to right, #5ebeff, #ffcc35);
    
    /* Apply the background to only the text */
    -webkit-background-clip: text;
    background-clip: text;
    
    /* Make the text transparent so the background shows */
    color: transparent;
}

body {
    background-color: #ffffff;
    background-image: radial-gradient(rgba(72, 90, 255, 0.5) 0.9500000000000001px, #e5e5f7 0.9500000000000001px);
    background-size: 19px 19px;
}
